<div class="contextual">
<%= link_to_if_authorized(l(:button_update), {:controller => 'non_functional_requirements', :action => 'edit', :id => @non_functional_requirement }, :class => 'icon icon-edit', :accesskey => accesskey(:edit)) %>

<%= link_to_if_authorized l(:button_move), {:controller => 'issue_moves', :action => 'new', :id => @issue}, :class => 'icon icon-move' %>

<%= link_to_if_authorized (l(:button_delete), {:controller => 'non_functional_requirements', :action => 'destroy', :id => @non_functional_requirement},:confirm => "Tem certeza que deseja excluir?",:method => :delete, :class => 'icon icon-del')%>

</div>

