
     <p style="float:right">
     <%= f.check_box :hidden %>
    </p>

     <p><%= f.text_field :name, :size => 70, :required => true  %><p>




   <p><%= f.text_area :description,
                   :cols => 60,
                   :rows => (@functional_requirement.description.blank? ? 10 : [[10, @functional_requirement.description.length / 50].max, 100].min),
                   :accesskey => accesskey(:edit),
                   :class => 'wiki-edit' %></p>
<%= wikitoolbar_for 'functional_requirement_description' %>

