<%=render :partial => "requirements/nav"%>

<div id="conteudo">


<h3>  <%=h @category.name %></h3>
<div id="show">

  <b><%=t('description')%>:</b>
 <p> <%=h @category.description %>
</p>
</div>
</div>

